
            <!-- Team Start -->
            <div class="team">
                <div class="container-fluid">
                    <div class="section-header">
                        <h2>Our Team</h2>
                        <p>Working and putting hard efforts to design this home loan website</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-3 ">
                            <div class="team-item">
                              
                                <div class="team-text">
                                    <h3>Tushar Mahalle</h3>
                                    <p>Graduate Engineer Trainee</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 ">
                            <div class="team-item">
                               
                                <div class="team-text">
                                    <h3>Anjali Deokar</h3>
                                    <p>Graduate Engineer Trainee</p>
                                </div>
                             
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 ">
                            <div class="team-item">
                               
                                <div class="team-text">
                                    <h3>Natarajan V</h3>
                                    <p>Graduate Engineer Trainee</p>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 ">
                            <div class="team-item">

                                <div class="team-text">
                                    <h3>Sai Hareesha</h3>
                                    <p>Graduate Engineer Trainee</p>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team End -->