<div class="wrapper">
            
    <!-- Footer Start -->
        <div class="footer">
               
              
                <div class="row">
              
                    <div class="col-md-3">
                        <p><a style="color:white;" href="#">Features</a></p>
                    </div>
                    <div class="col-md-3">
                        <p><a style="color:white;" href="#">Calculator</a></p>
                    </div>
                    <div class="col-md-3">
                        <p><a style="color:white;" href="#">Documents</a></p>
                    </div>
                    <div class="col-md-3">
                        <p style="color:white;">&copy; <a href="index.html">Quick-Loan</a>, All Rights Reserved.2021</p>
                    </div>
                
                </div>
        
        </div>
    <!-- Footer End -->
       
</div>


