 <!-- Hero Start -->
 <div class="hero">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2>Ready for next move?</h2>
                <h2>Housing Loan</h2>
                <p>Home loans consist of an adjustable or fixed interest rate and payment terms. The property is mortgaged to the lender as a security till the repayment of the loan.</p>
                <a class="btn" routerLink="/application" href="#">Apply Now</a>
            </div>
            <div class="col-md-6">
                <img src="../assets/img/hero.jpg" alt="Image">
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
    
<!-- News Start -->
<div class="news">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="../assets/img/news.jpg" alt="Image">
            </div>
            <div class="col-md-6">
                <h2 class="section-title">Read Latest News</h2>
                <p>
                    July and August data show that consumption is coming back very strongly and this is across all categories -- home loans and consumer durables or personal loans. 
                    Suddenly discretionary buying as well as specific consumption is back. Given the confluence of demand for home 
                    loans and availability of real estate -- consumers have started going for the price that the developers are offering and people have the need and the ability to buy 
                    a larger home across cities -- we decided to lower home loan interest rate for the festive season starting from September 10 till November 8. That is a win-win for the customer. 
                
                </p>
                <p>
                    People were conservative last year, especially following Covid. But as business sentiment improves, the customer business is 
                    doing well and the jobs market is improving. So, there is a little bit of a feel good factor and we are supporting our customers 
                    by helping them to invest well. Their consumption is our business and we are seeing them consuming.
                </p>
              
            </div>
        </div>
    </div>
</div>
<!-- News End -->